CT_CONFIG_VERSION="4"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a35+crypto"
CT_ARCH_64=y
CT_TARGET_CFLAGS="-mcpu=cortex-a35+crypto -O2 -g -fno-plt --param l1-cache-size=32 --param l1-cache-line-size=64 --param l2-cache-size=256"
CT_TARGET_LDFLAGS="-Wl,-O1,--sort-common,--as-needed"
CT_TARGET_VENDOR="rg351"
CT_KERNEL_LINUX=y
CT_LINUX_SRC_DEVEL=y
CT_LINUX_DEVEL_URL="https://github.com/AmberELEC/kernel_rg351.git"
CT_LINUX_DEVEL_BRANCH="main"
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
CT_GLIBC_V_2_34=y
# CT_GLIBC_ENABLE_WERROR is not set
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_GCC_LIBGOMP=y
CT_CC_GCC_LIBSANITIZER=y
CT_CC_GCC_LNK_HASH_STYLE_BOTH=y
CT_CC_LANG_CXX=y
CT_DEBUG_GDB=y
