CT_CONFIG_VERSION="4"
CT_STRIP_TARGET_TOOLCHAIN_EXECUTABLES=y
CT_EXTRA_CFLAGS_FOR_BUILD="-march=x86-64-v3 -mtune=generic -O2"
CT_EXTRA_LDFLAGS_FOR_BUILD="-Wl,-O1,--sort-common,--as-needed"
CT_ARCH_ARM=y
CT_ARCH_CPU="cortex-a35+crc+crypto"
CT_ARCH_64=y
CT_TARGET_CFLAGS="-mcpu=cortex-a35+crc+crypto --param l1-cache-size=32 --param l1-cache-line-size=64 --param l2-cache-size=256 -O3 -fomit-frame-pointer -fno-stack-protector -fno-stack-clash-protection -fcf-protection=none -U_FORTIFY_SOURCE -D_FORTIFY_SOURCE=0"
CT_TARGET_LDFLAGS="-Wl,-O1,--sort-common,--as-needed,--hash-style=gnu,-z,norelro,-z,lazy"
CT_TARGET_VENDOR="rg351"
CT_KERNEL_LINUX=y
CT_LINUX_SRC_DEVEL=y
CT_LINUX_DEVEL_URL="https://github.com/AmberELEC/kernel_rg351.git"
CT_LINUX_DEVEL_BRANCH="main"
CT_BINUTILS_V_2_40=y
CT_BINUTILS_LINKER_LD_GOLD=y
CT_BINUTILS_GOLD_THREADS=y
CT_BINUTILS_LD_WRAPPER=y
CT_BINUTILS_PLUGINS=y
# CT_BINUTILS_RELRO is not set
CT_GLIBC_V_2_37=y
# CT_GLIBC_ENABLE_DEBUG is not set
CT_GLIBC_EXTRA_CFLAGS="-O2"
CT_GLIBC_SSP_NO=y
# CT_GLIBC_ENABLE_WERROR is not set
CT_GCC_V_13=y
# CT_CC_GCC_USE_GRAPHITE is not set
# CT_CC_GCC_ENABLE_TARGET_OPTSPACE is not set
CT_CC_GCC_LIBGOMP=y
# CT_CC_GCC_LIBSTDCXX_VERBOSE is not set
CT_CC_GCC_LNK_HASH_STYLE_GNU=y
CT_CC_LANG_CXX=y
